@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "vazir";
    font-weight: 400;
    src: local(""), url("../public/font/vazir.woff2") format("woff2");
    font-display: swap;
  }
  .social-icons {
    font-size: 33px !important;
  }
  .font-icons {
    font-size: 35px !important;
  }
  .navmenu {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  
  .mobileIcon {
    @media screen and (max-width: 768px) {
      display: block;
      color: #fff;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      font-size: 1.8 rem;
      transform: translate(-100%, 60%);
    }
  }
  .NavBtn {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .NavBtnLink {
    padding: 10px 22px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }